@import "tailwindcss";
@config "./tailwind.config.js";

@font-face {
    font-family: 'Century Gothic';
    src: local('Century Gothic'), local('CenturyGothic');
    font-display: swap;
}

body {
    font-family: 'Century Gothic', sans-serif;
    @apply text-slate-900;
}

body,
button,
input,
select,
textarea {
    font-family: 'Century Gothic', sans-serif !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}